[user]
	email = arnie97@gmail.com
	name = Arnie97
[log]
	mailmap = true
[mailmap]
	file = ~/.mailmap
[core]
	autoCRLF = false
	quotePath = false
[diff]
	tool = bc
	wsErrorHighlight = all
[merge]
	tool = bc
[rebase]
	autoStash = true
[alias]
	aa = add --all
	ap = add --patch
	au = add --update
	bi = bisect
	bs = bisect
	bl = blame
	br = branch
	bw = browse
	ce = clean
	cf = config --edit --global
	ch = checkout
	cl = clone --recursive
	cm = commit --amend
	ca = commit --amend --reset-author
	cc = !GIT_COMMITTER_DATE=`git log --pretty=%aD HEAD^..` git commit --amend
	co = commit
	cp = cherry-pick
	cr = create
	de = tell
	di = diff
	ds = diff --stat
	dn = diff --no-index
	dt = difftool
	dw = diff --word-diff
	fb = filter-branch
	fe = fetch
	fp = format-patch
	gl = log --graph --all --abbrev=4 --date='format:%y-%m-%d' --pretty=format:'%C(red bold)%h%C(reset) %C(cyan)%cd%C(yellow bold)%d%C(reset) %s %C(cyan)(%C(green)%aN, %C(cyan)%ar)%C(reset)'
	gr = grep
	ig = ignore
	lg = log --stat --summary --pretty=fuller
	ls = ls-files
	lt = ls-tree --long --abbrev
	me = merge --allow-unrelated-histories
	mt = mergetool
	pf = push --force-with-lease
	pl = pull --ff-only
	pr = pull --rebase
	pu = push
	rb = rebase
	rd = range-diff
	re = reset
	rh = reset --hard
	rs = reset --soft
	rf = reflog
	ri = rebase --interactive
	rm = rm --cached
	ro = remote
	rp = rev-parse
	rq = pull-request
	rv = !git push origin HEAD:refs/for/${1:-$(git rev-parse --abbrev-ref HEAD)}%${2}
	sh = show
	sl = status --long
	ss = status --short
	st = stash
	su = submodule
	tf = tag --force
	tm = filter-branch --force --env-filter 'export GIT_COMMITTER_DATE="$GIT_AUTHOR_DATE"'
	us = update-server-info
[hub]
	protocol = https
[push]
	default = matching
[color]
	ui = auto
[gui]
	encoding = utf-8
