[user]
	email = arnie97@gmail.com
	name = Arnie97
[core]
	autocrlf = false
[credential]
	helper = store
[alias]
	aa = add --all
	au = add --update
	br = branch
	cf = !vi ~/.gitconfig
	ch = checkout
	cl = clone
	cm = commit --amend
	co = commit
	cp = cherry-pick
	cr = create
	de = describe
	di = diff
	dt = difftool
	fe = fetch
	gl = log --graph --all --date-order --date=short --abbrev=4 --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset'
	gr = grep
	me = merge
	mt = mergetool
	pf = push --force
	pl = pull
	pr = pull --rebase
	pu = push
	rb = rebase
	re = reset
	rf = reflog
	ri = rebase --interactive
	rl = rev-list
	rm = rm --cached
	ro = remote
	rp = rev-parse
	rq = pull-request
	sh = show
	sp = stripspace
	ss = status --short
	st = status
	su = submodule
[hub]
	protocol = https
[push]
	default = matching
